// .ayiti-digital{
//   height: 80px;
//   width: 80px;
//   background: url("../../../assets/img/ayiti_digital_logo.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
// }

footer {
  // height: 60vh;
  width: 100%;
  margin-top: 2rem;
  overflow-x: hidden;
  // background:url('../../../assets/img/footer/footer.jpg');
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 100%;
  // background-size: contain;
}


footer{
        // height: 60vh;
        width: 100%;
        margin-top: 2rem;
        overflow-x: hidden;
        // background:url('../../../assets/img/footer/footer.jpg');
        background-size: cover;
        object-fit: contain;
        background-repeat: no-repeat;
        height: 100%;
        // background-size: contain   
}

footer img{
        width: 100%;
}
